html {
  font-size: 10px;
  box-sizing: border-box;
  background-color: #e8e8e8;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  //   font-family: $mainFont;
  font-size: 1.8rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

// img,
// picture {
//   width: 100%;
//   display: block;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  //   font-family: $mainFont;
  font-weight: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

main {
  margin-top: 1em;
}
